<div class='content'>
  <div class='select-interval mat-card'>
    <mat-label>Select time interval:</mat-label>
    <mat-select [value]='selectedInterval$ | async' (selectionChange)='changeInterval($event.value)'>
      <mat-option value='5'>5 minutes</mat-option>
      <mat-option value='30'>30 minutes</mat-option>
      <mat-option value='60'>1 hour</mat-option>
    </mat-select>
  </div>
  <br>
  <div class="grid mat-card" *ngIf="data.size">
    <cdk-virtual-scroll-viewport itemSize="120" orientation="horizontal">
      <div class="grid__column" *cdkVirtualFor="let date of headerCols">
        <div class="grid__column__header-cell">{{date}}</div>
        <br>
        <div class="grid__column__value-cell">{{data.get(date) | titlecase}}</div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div *ngIf="!data.size">
    No data :(
  </div>
</div>


